/* ---------------------------------------------------------------------------------------------------------------------
 * Headings
 * ------------------------------------------------------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 15px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Tables
 * ------------------------------------------------------------------------------------------------------------------ */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Pre block
 * ------------------------------------------------------------------------------------------------------------------ */
pre {
    border: none;
    padding: 0;
    margin-top: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Blockquotes
 * ------------------------------------------------------------------------------------------------------------------ */
blockquote {
    border-left: 5px solid #ddd;
    background-color: rgba(102,128,153,.05);
    font-size: 14px;
    font-weight: 300;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Main Layouts
 * ------------------------------------------------------------------------------------------------------------------ */
html, body {
    height: 100%;
}

#wrapper {
    height: 100%;
}

#toolbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    background-color: #373D49;
}

#md_div {
    margin-left: 70px;
    height: 100%;
}

#md_editor_div {
    float: left;
    width: 50%;
    height: 100%;
    overflow: scroll;
    font-size: 13px;
    font-family: "Lucida Console", Monaco, monospace !important;
    line-height: 1.6;
}

#md_html_div {
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    overflow: scroll;
    border-left: 1px solid #eee;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Toolbar layouts
 * ------------------------------------------------------------------------------------------------------------------ */
#toolbar_logo {
    display: block;
    width: 35px;
    height: 35px;
    margin: 20px auto;
}

.btn:focus {
    outline: none;
}

#toolbar>.btn-group {
    display: block;
}

.btn-toolbar {
    background-color: #373D49;
    display: block;
    margin: 3px auto;
    width: 100%;
    height: 55px;
    padding: 10px 0;
    font-size: 12px;
    color: #A0AABF;
    border-radius: 0;
}

.btn-toolbar>span {
    font-size: 14px;
}

.btn-toolbar:hover {
    background-color: #000;
    color: #35D7BB;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Note list modal
 * ------------------------------------------------------------------------------------------------------------------ */
#note_list_div {
    border-right: 1px solid #eee;
}

#note_list_search_div {
    border-bottom: 1px solid #eee;
}

#note_list_div>.modal-dialog {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    height: 100%;
    width: 350px;
    margin: 0;
}

#note_list_div:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

#note_list_search_div {
    position: absolute;
    width: 100%;
    height: 55px;
    overflow: hidden;
}

#note_list_ul_div {
    height: 100%;
    padding-top: 55px;
    overflow: scroll;
}

.notebook-item span {
    margin-right: 10px;
}

.notebook-item a:hover {
    text-decoration: none;
}

#note_list_div ul {
    overflow: scroll;
    list-style-type: none;
    padding: 0;
}

#note_list_div li {
    height: 40px;
    margin: 0;
}

#note_list_div li a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

#note_list_div li:hover {
    background-color: #99ff33;
}

#search_note_input {
    width: 230px;
    margin: 10px 10px 10px 20px;
}

#sync_note_list_btn {
    float: right;
    margin: 10px;
}
