#md_editor_div {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 80%;
    overflow: scroll;
}

#md_html_div {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 80%;
    background-color: #eee;
    padding-left: 10px;
    overflow: scroll;
}

#footer_div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    overflow: scroll;
    background-color: #aaffff;
}
