/* ---------------------------------------------------------------------------------------------------------------------
 * Headings
 * ------------------------------------------------------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 15px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Tables
 * ------------------------------------------------------------------------------------------------------------------ */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Pre block
 * ------------------------------------------------------------------------------------------------------------------ */
pre {
    border: none;
    padding: 0;
    margin-top: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Blockquotes
 * ------------------------------------------------------------------------------------------------------------------ */
blockquote {
    border-left: 5px solid #ddd;
    background-color: rgba(102,128,153,.05);
    font-size: 14px;
    font-weight: 300;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Main Layouts
 * ------------------------------------------------------------------------------------------------------------------ */
html, body {
    height: 100%;
}

#wrapper {
    height: 100%;
}

#toolbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    background-color: #fafafa;
    border-right: 1px solid #eee;
}

#md_div {
    margin-left: 70px;
    height: 100%;
}

#md_editor_div {
    float: left;
    width: 50%;
    height: 100%;
    overflow: scroll;
    font-size: 13px;
    font-family: Menlo, 'Ubuntu Mono', Consolas, source-code-pro, 'Courier New', Monaco, Cousine, Courier, SimSun, Song,
        'Microsoft YaHei', YouYuan, Heiti, 'WenQuanYi Zen Hei Mono', 'WenQuanYi Zen Hei', monospace !important;
    line-height: 1.6;
}

#md_html_div {
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    overflow: scroll;
    border-left: 1px solid #eee;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Toolbar layouts
 * ------------------------------------------------------------------------------------------------------------------ */
#toolbar_logo {
    display: block;
    margin: 10px auto;
}

.btn:focus {
    outline: none;
}

#toolbar>.btn-group {
    display: block;
    margin: 10px auto;
    width: 40px;
    height: 40px;
}

.btn-circle {
    background-color: #fafafa;
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    font-size: 12px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.btn-circle:hover {
    background-color: #99ff33;
    color: #fff;
}
