@(title: String)

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "highlightjs-theme-default.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public/images", "favicon.png")">

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <!-- TODO: host the MathJax resources locally -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--<div id="md_wrapper">-->
    <div id="md_editor_div"></div>
    <div id="md_html_div"></div>
    <div id="md_html_div_hidden" style="height:1px;overflow:hidden;z-index:0;"></div>
    <!--</div>-->
    <div id="footer_div">
        <p><a id="show_html" href="#">show html</a></p>
        <p><a id="save_note" href="#">save note</a></p>
    </div>

    <script src="@routes.Assets.at("/public/javascripts", "jquery-1.11.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "marked.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "ace.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "mode-markdown.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "highlight.pack.js")" type="text/javascript"></script>
    <!--<script src="@routes.Assets.at("/public/javascripts", "jquery.htmlClean.min.js")" type="text/javascript"></script>-->
    <script src="@routes.Assets.at("/public/javascripts", "jquery.htmlClean.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "jquery.inlineStyler.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "app.js")" type="text/javascript"></script>
</body>
</html>
