@(title: String, message: String)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public/images", "favicon.png")">
    <script src="@routes.Assets.at("/public/javascripts", "jquery-1.11.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "marked.min.js")" type="text/javascript"></script>
    <!--<script src="@routes.Assets.at("/public/javascripts", "xml-parser.js")" type="text/javascript"></script>-->
    <!--<script src="@routes.Assets.at("/public/javascripts", "xml-writer.js")" type="text/javascript"></script>-->
    <!--<script src="@routes.Assets.at("/public/javascripts", "enml.js")" type="text/javascript"></script>-->
    <!--<script src="@routes.Assets.at("/public/javascripts", "epiceditor.js")" type="text/javascript"></script>-->
    <script src="@routes.Assets.at("/public/javascripts", "app.js")" type="text/javascript"></script>
</head>
<body>
    <p>@message</p>
    <div id="md_editor_div">
        <textarea name="" id="md_editor_textarea" cols="30" rows="10"></textarea>
    </div>
    <div id="md_html_div">
    </div>
    <p><a id="show_html" href="#">show html</a></p>
</body>
</html>
